.label {
    text-align: center;
    font-weight: 900;
    font-size: 220px;
    line-height: 1;
    margin-bottom: 1.5rem; 
    color: var(--mantine-color-blue-9); 
  
    @media (max-width: 600px) {
      font-size: 120px;
    }
  }
  